body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*============ Header ============*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
}
.header-structure {
  display: flex;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
}
.header-logo-span {
  color: #2e2f42;
}
.header-link {
  display: block;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.32px;
  padding: 24px 0;
  position: relative;
}
.header-addres {
  margin-left: auto;
  font-style: normal;
}
.header-link-addres {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #434455;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.header-link:hover,
.header-link:focus,
.header-link-addres:hover,
.header-link-addres:focus {
  color: #404bbf;
}

/* .header-link:hover, .header-link:focus{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 28px;
    text-decoration-skip-ink: auto;
} */

/* 
.header-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
} */

.header-link,
.header-link-addres {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mark::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 48px;
  border-radius: 2px;
  background: #404bbf;
  transform: translateX(0%);
}
.header-link-first {
  color: #404bbf;
}

/* ============ 1 section ============ */
.first-section {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hw-4.jpg);
  max-width: 1440px;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-container {
}
.title-first {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ============ 2 section ============ */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-second-section {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-second-section {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.second-section {
  padding: 120px 0;
}
.second-list-info {
  display: flex;
  gap: 24px;
}
.section-second-structure {
  width: calc((100% - 72px) / 4);
}

.box-for-icon {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
}

/* =========== 3 section ============= */
.section-third {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.section-third-superior-heading {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.title-third-section {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.text-third-section {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.third-list {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
}
.third-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.job_title {
  padding: 32px 0;
}

.social-links {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
  justify-content: center;
}

.link-third {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-third:hover {
  background-color: #404bbf;
}

.link-third:focus {
  background-color: #404bbf;
}
.icon {
  fill: #f4f4fd;
}

.social-item {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
}

/* =========== 4 section ============= */
.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-type {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.overlay {
  color: #f4f4fd;
  display: flex;
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #4d5ae5;
  padding: 40px 32px;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.all-hover {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* =========== Footer ============= */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-links {
  display: flex;
  gap: 16px;
  flex-shrink: 0;
  align-self: flex-end;
  justify-content: center;
}

.footer-social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  background-color: #31d0aa;
}
.link:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: #f4f4fd;
}

.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-second-sec {
  justify-content: center;
  align-items: center;
}

.footer-first-sec {
  margin-right: 120px;
}
